.entry_field{
    width: 500px;
    margin : 250px auto 50px;
}

body{
    background-color: #eee;
}

.click{
    margin : 0 auto;
    display: block;
}

.msg{
    text-align: center;
    font-size: 20px;
    margin : 20px;
    display: block;
    padding: 10px;
}